@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

body {
    font-family: 'Mooli', sans-serif;
    margin: 0 auto;
}

img {
    max-width: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    background-color: white;
}

header {
    background-color: #52489c;
    margin: 0 auto;
    padding-bottom: 20px;
}

footer {
    background-color: #52489c;
    padding-bottom: 20px;
    padding-top: 15px;
    color: white;
}

h1 {
    margin: 0;
    font-size: 4em;
    color: white;
    display: flex;
    justify-content: center;
}

h3 {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu {
    color: white;
    margin: 0 auto;
    text-align: center;
    list-style: none;
    padding: 0;
    text-decoration: underline;
}

.menu.hide {
    display: none;
}

main {
    display: grid;
}

.my-button {
    background-color: #52489c;
    color: white;
    font-family: 'Mooli', sans-serif;
    border: none;
    margin: 0 auto;
    display: block;
    width: fit-content;
    font-size: 2em;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    background-color: whitesmoke;
    place-items: center;
}

/* Modal styling */
.viewer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    display: none; /* Hide by default */
    place-items: center;
    z-index: 10;
    color: white;
}

.viewer img {
    max-height: 100%;
    max-width: 90%;
}

.viewer.show {
    display: grid; /* Show the modal when class 'show' is added */
}

.close-viewer {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 2em;
    color: white;
    cursor: pointer;
}

@media screen and (min-width: 1000px) {
    .viewer {
        padding: 20px;
    }
    .viewer img {
        max-width: 70%;
    }
}

@media screen and (min-width: 700px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
    
    .my-button {
        display: block;
    }
}

@media screen and (min-width: 1000px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .my-button {
        display: none;
    }
    .menu {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 15px;
        margin: 0;
    }
    .menu li {
        margin-right: 20px;
    }
}
