@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


body {
    display:grid;
    text-align: left;
    border: 2px solid black;
    margin: 600px;
    padding-top: 50px;
}
h1 {
    font-weight: bold;
    font-size: 2.5em;
    font-family: 'Playfair Display';
    text-align: center;
}
h2 {
    color: #1277bb;
    text-align: center;
    border-bottom: 2px solid grey;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10px;
}
.byuilogo {
    scale: 25%;
    text-align: center;
    display: inline-block;
}
p {
    font-size: 1.5em;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
}
.p1 {
    margin-left: 30px;
}
.p2 {
    margin-left: 30px;
}
.p3 {
    margin-left: 30px;
}
.p4 {
    margin-left: 30px;
}
